Redo_main/Redo/WiredTiger.turtle
Redo_main/Redo/medical_app/WiredTiger
Redo_main/Redo/medical_app/mongod.lock
Redo_main/Redo/medical_app/mongod.log
Redo_main/Redo/medical_app/WiredTiger.lock
Redo_main/Redo/mongod.lock
